body{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

h1 {
    font-size: 14vw;
    max-width: 100%;
    font-weight: 100;
}
p {
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    font-weight: 400;
}
a {
    font-size: 15vw;
    text-decoration: none;
    color: black;
}
.small-link {
    font-size: 30px;
    text-decoration: underline;
}
div{
    height: 500px;
}
.jump{
    font-size: 120px;
}
